.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.login-form {
    background-color: #000;
    padding: 3rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 450px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.input-group label {
    color: #D39D61;
    font-size: 1.2rem;
}

.input-group input {
    width: 100%;
    height: 50px;
    background-color: #888;
    border: none;
    border-radius: 8px;
    padding: 0 1rem;
    color: #000000;
    caret-color: #000000;
    font-weight: 600;
    font-size: 1rem;
}

.input-group input:hover {
    outline: 1px solid #D39D61;
    background-color: #78BB93;
}

.login-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}