.button {
    border: #000 solid 1px;
    border-radius: 40px;
    max-width: 220px;
    max-height: 72px;
    background-color: #000;
    color: #78BB93;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.4s ease;
}

.button:active {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.button-primary {
    box-shadow: 0 0 8px 5px rgba(211, 157, 97, 0.6);
}

.button-secondary {
    box-shadow: none;
}

.button-tertiary {
    box-shadow: none;
    max-height: 440px;
    max-width: 240px;
}

.button-quaternary {
    box-shadow: none;
    max-height: 140px;
    max-width: 200px;
}

.button-background-image {
    background-image: var(--background-image-url, none);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
}