.main-content {
    display: flex;
    flex-direction: column;
}

.main-layout {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}


.navbar {
    width: 262px;
    flex-shrink: 0;
    background-color: #000;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.navbar li {
    list-style: none;
    color: #D1FFD9;
    cursor: pointer;
    padding: 0.5rem;
}

.navbar li:hover {
    color: #FFFFFF;
}

.content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

.screenshot-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.bulletin-boards {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    flex-shrink: 0;
}

.bulletin-board-placeholder1,
.bulletin-board-placeholder2 {
    display: flex;
    background-color: black;
    height: 240px;
    width: 220px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    flex-shrink: 1;
    flex-grow: 1;
}