.main-content {
    display: flex;
    flex-direction: column;
}

.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


.content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1;
    padding-left: 15rem;
}

.screenshot-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.bulletin-boards {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    flex-shrink: 0;
}

.bulletin-board-placeholder1,
.bulletin-board-placeholder2 {
    display: flex;
    background-color: black;
    height: 240px;
    width: 220px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    flex-shrink: 1;
    flex-grow: 1;
}