.main-content {
    display: flex;
    flex-direction: column;
}

.main-layout {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}


.navbar {
    width: 262px;
    flex-shrink: 0;
    background-color: #000000;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.navbar li:hover {
    color: #D39D61;
}

.navbar li, a {
    font-weight: 600;
    color: #78BB93;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    list-style: none;
    cursor: pointer;
}

.navbar a:hover {
    color: #D39D61;
}

.nav-sub-list {
    list-style: none;
}

.nav-group-label {
    display: block;
    color: #78BB93;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-group a {
    display: block;
    padding: 0.5rem;
    color: #78BB93;
    text-decoration: none;
}

.content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    flex: 1;
    min-width: 600px;
}

.bulletin-boards {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    flex-shrink: 0;
}
