.category-view-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.category-view-body::-webkit-scrollbar {
    display: none;
}

.category-header-banner {
    background-color: black;
    width: 90%;
    max-width: 1200px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    margin-bottom: 60px;
    flex-shrink: 0;
}

.category-header-banner h1 {
    color: #D39D61;
    font-size: 2.5rem;
}

.category-items-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 100%;
    max-width: 1200px;
}

.category-item-card {
    background-color: #000000;
    width: 220px;
    height: 150px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #D39D61;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

.category-item-card:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.4s ease;
    color: #000000;
    box-shadow: 0 0 10px #D39D61;
    border: 1px solid #D39D61;
}