.header-wrapper {
    background-color: #1B1B1B;
    display: flex;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.header-top {
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: 242px;
    align-items: center;
    justify-content: flex-end;
}

.header-top-spacer {
    width: 220px;
    visibility: hidden;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #D39D61;
}

.header-title-name {
    font-size: 4rem;
}

.header-loginStatus {
    flex-shrink: 0;
}

.header-spacer {
    height: 60px;
}

{/* TODO: sketch af, check later */}

.header-bottom {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    justify-content: flex-start;
    gap: clamp(10px, 5vw, 130px);
    max-height: 100px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 9vw, 130px);
    overflow: hidden;
    padding: 2rem;
    align-items: center;
    flex-shrink: 1;
}

   {/* TODO: navbar css, come back to it later */}

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 262px;
    width: 100%;
    max-height: 698px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #000;
    height: calc(100vh - 144px);
}

.navbar li {
    list-style: none;
    color: #D1FFD9;
    cursor: pointer;
    padding: 0.5rem;
}

.navbar li:hover {
    color: #FFFFFF;
}