.footer {
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84px;
    width: 100vw;
    margin: 0 auto;
}

.footer-text {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
}

.footer-text:hover {
    color: #FF0000;
}