.footer {
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84px;
    width: 100vw;
    margin: 0 auto;
}

.footer-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.5rem;
}

.footer-link:hover {
    color: #78BB93;
    cursor: pointer;
}