.database-page-body {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    height: calc(100vh - 40px);
    overflow: hidden;
}

.database-main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header-black-box {
    background-color: black;
    width: 100%;
    max-width: 700px;
    height: 220px;
    border-radius: 40px;
    display: flex;
    padding-top: 5px;
    color: #D39D61;
    flex-shrink: 0;
}

.header-black-box .bulletin-title {
    font-size: 2.5rem;
    color: #78BB93;
    width: 100%;
    text-align: center;
}

.bulletin-board{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pillars-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
}

.pillars-grid::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pillars-grid::-webkit-scrollbar-thumb {
    background: #D39D61;
    border-radius: 10px;
}

/*ADD BACKGROUND IMAGES IN HERE FOR THE CATEGORIES WITH THE NAMES*/
.pillar-item {
    background-color: #000000;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    flex-shrink: 0;
}

.database-widgets-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
}