#root {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

h2{
  text-align: center;
  font-size: 2.5rem;
  color: #D39D61;
}

p{
  text-align: center;
  font-size: 2rem;
  color: #D39D61;
}

{/* TODO: dafuq am I doing here? no idea, look at it later */}
