@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", "Roboto", monospace, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h2{
  text-align: center;
  font-size: 2.5rem;
  color: #D39D61;
}

p{
  text-align: center;
  font-size: 2rem;
  color: #D39D61;
}

:root {
  font-family: "Roboto Mono", "Roboto", monospace, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  background-color: #242424;
}